.button {
  margin-right: 10px;
}

.fav-poster {
  width: 20%;
}

.user-profile {
  margin-top: 30px;
}

.card-title {
  padding: 10px;
}

.profile-container {
  padding: 10px;
}

.form-label {
  padding-top: 10px;
}

h4 {
  padding-left: 10px;
}
